# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Misc files
*.swp

# Directories
.fake/
build/
deploy/
paket-files/
packages/
**/bin/Debug/
**/bin/Release/
**/obj/Debug/
**/obj/Release/
